<a href="https://colab.research.google.com/github/debojit11070/deep-learning/blob/main/Heart_disease_validation_with_k_fold.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

entropy: is th  qunatitative measure of the randomness of the informmation being processed.

entropy = sum( from i to c) -p(i)log2 p(i)
c -> number of classes
p(i) -> probability of ith class


information gain: is the measure of how much info a feature provides about a class. Low entropy leads to increased info gain and high entropy leads to low info gain

Loss function: how far an estimated value is from its true value.

loss = 1/n (sun(i = 1 to n) (y(i) - y cap (i))^2

y cap = value we calculated
y = original value.


Gradient Descent: find the global minimum.
is an optimization used from minimizaing the loss fun in various machine learning algo. it is used for updating the parameters of the learning models.

m = m-LDm

c = c -LDc

m = slope
c - intercept
L - learning rate
Dm - partial derivative of loss fun with respect to m
Dc - partial derivative of loss fun with respect to c

K fold:

k fold cress validation - we split the dataset into "k" number of folds (subsets). One chunk of data is used as test data for evaluation and the remaining part of the data used for training model. each time, a different chunk will be used as the test data.

In [ ]:
# inportating dependencies
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score

In [ ]:
#importating models
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

In [ ]:
data = pd.read_csv("/content/drive/MyDrive/datasets/heart.csv")

In [ ]:
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
data.shape

(303, 14)

In [ ]:
data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [ ]:
# checking the target values
data['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

1 - defective heart

0 - healthy heart

In [ ]:
# splitting into test and train data
x = data.drop(columns='target', axis = 1)
y = data['target']

In [ ]:
x

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [ ]:
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [ ]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.2, stratify = y, random_state=3)

In [ ]:
x.shape, xtrain.shape, xtest.shape

((303, 13), (242, 13), (61, 13))

In [ ]:
# we will be using four models here in a loop

models = [LogisticRegression(max_iter = 1000), SVC(kernel='linear'), KNeighborsClassifier(), RandomForestClassifier()]

In [ ]:
def compare_models_train_test():
  for model in models:
    #training the model
    model.fit(xtrain, ytrain)

    #evaluating the model
    test_data_prediction = model.predict(xtest)
    accuracy = accuracy_score(ytest, test_data_prediction)
    print("Accuracy score of the ", model, " = ", accuracy*100)
# used the *100 in accuracy to get the value in percentage

In [ ]:
compare_models_train_test()

Accuracy score of the  LogisticRegression(max_iter=1000)  =  77.04918032786885
Accuracy score of the  SVC(kernel='linear')  =  77.04918032786885
Accuracy score of the  KNeighborsClassifier()  =  65.57377049180327
Accuracy score of the  RandomForestClassifier()  =  78.68852459016394

The random forest is giving more accuracy . which is 80 %.

In [ ]:
##cross validation
## Logistic REgression
cv_score_lr = cross_val_score(LogisticRegression(max_iter=1000), x, y, cv=5)
print(cv_score_lr)
mean_accuracy_lr = sum(cv_score_lr)/len(cv_score_lr)
mean_accuracy_lr = mean_accuracy_lr*100
mean_accuracy_lr = round(mean_accuracy_lr,2)

print(mean_accuracy_lr)

[0.80327869 0.86885246 0.85245902 0.86666667 0.75      ]
82.83

cv = 5  means 5 accuracy values

In [ ]:
# svc

cv_score_svc = cross_val_score(SVC(kernel='linear'), x, y, cv=5)

print(cv_score_svc)

mean_accuracy_svc = sum(cv_score_svc)/len(cv_score_svc)

mean_accuracy_svc = mean_accuracy_svc*100

mean_accuracy_svc = round(mean_accuracy_svc, 2)

print(mean_accuracy_svc)

In [ ]:
def compare_models_cross_validation():
  for model in models:
    cv_score = cross_val_score(model, x, y , cv=5)
    mean_accuracy = round(((sum(cv_score)/len(cv_score))*100),2)

    print("Cross validation accuracies for ", model, "= ", cv_score)
    print("Accuracy % of the ", model, mean_accuracy)
    print("---------------------")

In [ ]:
compare_models_cross_validation()

Cross valuation is more reliable than train test split. as we are using different chunks of train and test data from the same dataset.